#main{
    height: 300px;
    background-color: navy;
    color: rgb(135, 177, 179);
    text-align: center;
    padding-top: 80px;  
}
button{
    background-color: navy;
    color: rgb(219, 232, 233); 
    height:30px ;
    margin-top: 120px;   
}
h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-weight: 600;

}
.menu{
    background-color: rgb(157, 216, 218);
    color: navy;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}


a{
    color: rgb(172, 228, 228);
    text-decoration: none;
    text-align: center;
    margin: 60px;

}
table{
   
   margin-top: 50px;
    background-color: navy;
    color: rgb(142, 189, 190);
    text-align: center;
    border-color: rgb(124, 175, 177);
}
li{
    text-align: center;
    list-style-type: none;
}
button:hover{
    background-color: beige;
    color: black;
}
span{
    text-decoration: dotted;
}
body{
    font-weight: bolder;
}
